.establishment-card {
  padding: 8px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  transition: all 0.25s ease-in-out;

  &:hover {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
    transform: translate3d( 2px, 0px, 5px);
  }

  img { 
    cursor: pointer;
  }
  
  .info {
    font-size: 15px;
    color: #81879C;
    padding-left: 22px;
    line-height: 150%;

    .name {
      a {
        text-decoration: none;
        color: #4C5164;
      }
      font-size: 18px;
      font-weight: bold;

      span {
        font-weight: 500;
        font-size: 14px;
        margin-left: 10px;
      }
    }

    .address {
      font-size: 15px;
      
      span {
        font-weight: 400;
      }
    }
  }
}