.establishment-card {
  border: 1px solid #F9F9F9;
  background-color: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 8px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &:hover {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
    transform: translate3d( 2px, 0px, 5px);
  }

  .image {
    width: 74px;
    height: 74px;
    border-radius: 3px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .info {
    font-size: 15px;
    color: #81879C;
    padding-left: 22px;
    line-height: 150%;

    .name {
      color: #4C5164;
      font-size: 18px;
      font-weight: bold;

      span {
        font-weight: 500;
        font-size: 14px;
        margin-left: 10px;
      }
    }

    .address {
      font-size: 15px;
      
      span {
        font-weight: 400;
      }
    }
  }
}