<div class="card establishment-card">
  <div class="establishment-image">
    <img [src]="establishment?.picture" alt="univ" [routerLink]="[establishment?.index, 'edit']">
  </div>
  <div class="info">
    <div class="name">
      <a [routerLink]="[establishment?.index, 'edit']">{{ establishment?.name }}</a>
      <span>{{ establishment?.index }}</span>
    </div>
    <div class="address">
      {{ establishment?.address.city }} | 
      <span>{{ establishment?.address.street }}</span>
    </div>
  </div>
</div>