button {
  height: 41px;
  background: #28CC9B;
  border-radius: 100px;
  padding: 13px 30px;
  border: none;
  font-family: 'Margem Rounded';
  color: white;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  outline: none;
}