$theme-font: 'Margem Rounded';

$theme-color-primary: #28CC9B;
$theme-color-dark: #4C5164;
$theme-color-medium: #7B7E8C;
$theme-color-light: #E6E8F0;
$theme-color-error: #D72638;
$theme-color-success: #28CC9B;
