@import "theme";

button {
  height: 41px;
  background: $theme-color-primary;
  border-radius: 100px;
  padding: 13px 30px;
  border: none;
  font-family: $theme-font;
  color: white;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:disabled {
    opacity: 0.5;
    cursor: unset;
  }

  &:hover  {
    background-color: darken($theme-color-primary, 5%);
  }
}