.EstablishmentEdit {
  .card {
    margin-top: 30px;
    padding: 20px 30px;
  }

  .financial {
    >.row {
      margin-top: 20px;
      
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-top: 94px;
      }
    }
  }
}