@import "../forms.scss";
@import "theme";

.input-root {

  @include input-error;
  
  .select-input {
    @include input-theme;
    position: relative;
  
    .select {
      @include input-default;
      cursor: pointer;
    }
  
    svg {
      position: absolute;
      right: 18px;
      top: 13px;
      pointer-events: none;
    }

    .select-list {
      background-color: white;
      border: 1px solid $theme-color-light;
      position: absolute;
      width: 100%;
      z-index: 999;
  
      div {
        padding: 12px 15px;
        font-family: $theme-font;
        font-weight: 600;
        font-size: 14px;
        color: $theme-color-medium;
        
        &:hover {
          cursor: pointer;
        }

        &.hovered {
          background: darken(white, 5%);
        }
      }

    }
  }

}