@font-face {
  font-family: "Margem Rounded";
  src: url(assets/fonts/MargemRoundedVariableTest.ttf) format('truetype');
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: #F8F9FD;
  font-family: "Margem Rounded";
}