@import "theme";

label {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  color: $theme-color-dark;
  padding-bottom: 7px;
  
  &.hiddenLabel {
    visibility: hidden;
  }
}

@mixin input-theme {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #F8F9FD;
  border: 1px solid $theme-color-light;
  box-sizing: border-box;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  margin-top: 7px;

  &.focused {
    border-color: $theme-color-primary;
  }
}

@mixin input-default {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 12px 0px 12px 15px;
  box-sizing: border-box;
  font-family: $theme-font;
  font-weight: 600;
  font-size: 14px;
  color: #7B7E8C;
  width: 100%;
}

@mixin input-root {

  @media only screen and (max-width: 600px)  {
    margin-top: 15px;
  }

  &.input-error {
    .text-input,
    .select-input {
      border-color: $theme-color-error;
    }
  }

  .input-error-message {
    color: $theme-color-error;
    font-size: 13px;
    font-weight: 600;
    margin-top: 3px;
  }
}